 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 .calender{
 display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7 , 1fr);
    row-gap: 10px;
    padding: 15px;
    
    
}
.date {
    font-size: 30px;
    background-color: rgb(207, 235, 245);
    width: 110px;
    height: 60px;
    display: flex;
    border-radius: 7px;
    align-items: center;
    justify-content: center;
}
.day {
     font-size: 24px;
     display: flex;
     align-items: center;
background-color: rgb(207, 245, 213);
width: 100px;
height: 45px;
display: flex;
border-radius: 7px;
align-items: center;
justify-content: center;
}
.expair-date{
    background-color: lightgray;
}
@media screen and  (max-width: 850px) {
    .date  {
       width: 40px;
       max-width: 400px;
       height: 40px;
       

    }
    .date:hover{
        background-color: bisque;
        transition: ease-in-out .3s;
    }
    .day{
        width:40px;
        padding: 0px;
        height: 30px;
    }
    .container{
        
        background-image: url(./image/HD-wallpaper-colour-screen-colours-note-fe-blur-maroon-purple-color-mix.jpg);
    }
}